# Python Machine Learning In Biology:
# Introduction to Pandas

### What is Pandas?

* A data analysis library â€” **Pan**el **Da**ta **S**ystem.
* Created by Wes McKinney in 2009.
* Implemented in highly optimized Python/Cython.
* Like Excel or R for Python!

### Pandas is used for

* Cleaning data/munging.
* Exploratory analysis.
* Structuring data for plots or tabular display.
* Joining disparate sources.
* Modeling.
* Filtering, extracting, or transforming.

### Importing Pandas

Import Pandas at the top of your notebook. Give it the nickname **pd** so you don't have to keep typing "pandas." (But you can nickname it anything or leave out the nickname)

### Loading a CSV as a DataFrame

Pandas can load many types of files, but one of the most common types is .csv (comma separated values).

This creates a Pandas object called a **DataFrame.**  

DataFrames are powerful containers that have lots of built-in functions for exploring and manipulating your data.

### Exploring the data using DataFrames

#### Use .head() to examine the top of the DataFrame

### Use .tail() to examine the bottom

#### The .shape property will tell you how many rows and columns you have

#### You can look up the names of your columns using the .columns property.

#### You can access a specific column with bracket syntax (like with dictionaries) using the column's string name.

#### You can also access it using dot notation. (When might this not work?)

Notice that this looks a little different than our DataFrame above. That is because it is a Series object. It's a little different than a Dataframe. 

**What's the difference between Pandas' Series and DataFrame objects?**  
Essentially, a Series object contains the data for a single column, and a DataFrame object is a matrix-like container for those Series objects that comprise your data. They mostly act like one another, but occasionaly you'll run into methods that only work for one.

#### Examining Your Data With .info()  
Provides information about:

* The name of the column/variable attribute.
* The type of index (RangeIndex is default).
* The count of non-null values by column/attribute.
* The type of data contained in the column/attribute.
* The unqiue counts of dtypes (pandas data types).
* The memory usage of our data set.

Types affect the way data is represented in machine learning models, whether we can apply math operators to them, etc.   

Some common problems with working with a new dataset:  
* Missing values.
* Unexpected types (string/object instead of int/float).
* Dirty data (commas, dollar signs, unexpected characters, etc.).
* Blank values that are actually "non-null" or single white-space characters.

#### Summarize the data with .describe()
It gives us the following statistics:

* Count, which is equivalent to the number of cells (rows).
* Mean, or, the average of the values in the column.
* Std, which is the standard deviation.
* Min, a.k.a., the minimum value.
* 25%, or, the 25th percentile of the values.
* 50%, or, the 50th percentile of the values ( which is the equivalent to the median).
* 75%, or, the 75th percentile of the values.
* Max, which is the maximum value.  

Let's try this on a single column as well as the entire dataframe.

There are also built-in math functions that will work on all columns of a DataFrame at once, as well as subsets of the data.

#### For example, I can use the .mean() function on the titanic DataFrame to get the mean for every column.

### Reading in trickier file types

This worked well above because we `.read_csv()` expected a comma-separated file with a header row. What happens when these don't match?

What happened here? Let's Google `pandas .read_csv` to look at the documentation and troubleshoot.

We fixed part of the problem, but we still need pandas to understand we don't have a header in this file.

In [1]:
golf_cols = ["Date", "Outlook", "Temperature", "Humidity", "Windy", "Result"]

The `skiprows` and `skipfooter` arguments may also be useful if you have collaborators who make extra notes in their data files that you need to ignore.

## Pandas Indexing

#### Let's read in the drug dataset for practicing indexing

A common task is that we'll want to operate on a specific portion of our data. With indexing, we can pull out a specific part of our DataFrame.  

pandas has three properties you can use for indexing:

* **.loc** indexes with the labels for rows and columns.
* **.iloc** indexes with the integer positions for rows and columns.

#### Using the .loc indexer, let's pull out row 0 and all columns `dataframe.loc[rows, columns]`

#### What if I want multiple rows? Let's get rows 0, 1, and 2 by passing in a list

#### Can you think of a more efficient way to do this?

Note that .loc is inclusive on both sides. This is different than the behavior of some other Python functions, like `range`

#### Let's do the same thing for columns and just select the `sedative-use` and `sedative-frequency` column

#### We can pull out rows and columns. Let's pull out rows 0 through 2 and `sedative-use` and `sedative-frequency` columns.

#### We can do the same thing with the .iloc indexer. This time we use integers for the position.  Let's get all rows and columns in position 0 and 3.

#### Let's get all of the rows and columns 0 through 4 using `.iloc`

Note that `.iloc` is inclusive of the first number but exclusive of the second number. This is more like `range`.

#### Let's get the first four rows and the first two columns

### Creating DataFrames

You can create your own DataFrame without importing data from a file using pd.DataFrame() on a dictionary.  
Make sure the dictionary has lists of values that are all the same length. The keys correspond to the names of the columns, and the values correspond to the data in the columns.

In [2]:
mydata = pd.DataFrame({'Letters':['A','B','C'], 'Integers':[1,2,3], 'Floats':[2.2, 3.3, 4.4]})

NameError: name 'pd' is not defined

#### Examine the data types

Use .dtypes on your DataFrame.

Strings are stored as a type called "object," as they are not guaranteed to take up a set amount of space (strings can be any length).

#### Rename columns

Change the column name Integers to int:

Why did we have to use `inplace` this time? Let's check the documentation. See that `inplace=False` is the default for this method. It's Pandas way of trying to protect us.

#### Rename all of the columns by assigning a list to the .columns property

## Changing data types

#### Check the datatypes of the dataframe

#### Change the datatype of the `beer_servings` column to floating point

## Filtering and Sorting DataFrame

#### Filter drinks to include only European countries.

First we create a series of Booleans

Then we can use this series to filter our dataframe. (This is why we see the `drinks` twice.)

#### Filter drinks to include only European countries with wine_servings > 300.

#### Filter drinks to include only countries with wine_servings > 300 or beer_servings > 300.

#### If we find ourselves gluing together a bunch of "OR" statements, we can use `.isin` to create a boolean series to pass into the dataframe

#### Calculate the mean beer_servings for all of Europe.

#### Determine which 10 countries have the highest total_litres_of_pure_alcohol.

#### Which 10 countries have the lowest total_litres_of_pure_alcohol?

Side note: This does not change the underlying data. How can we change the underlying data?

#### Let's sort by multiple columns. First sort by `beer_servings` then by `wine_servings`.

## Renaming, Adding, and Removing Columns

#### Rename `beer_servings` as `beer` and `wine_servings` as `wine` in the `drinks` DataFrame, returning a new DataFrame.

#### Perform the same renaming for `drinks`, but in place.

#### Replace the column names of drinks with `['country', 'beer', 'spirit', 'wine', 'liters', 'continent']`.

#### Replace the column names of drinks with ['country', 'beer', 'spirit', 'wine', 'liters', 'continent'] when you import the file.

#### Bonus Tip: What if we have a lot of columns where we want to replace spaces with underscores?

#### Make a `servings` column that combines `beer`, `spirit`, and `wine`.

#### Make an `mL` column that is the `liters` column multiplied by 1,000.

#### Remove the `mL` column, returning a new DataFrame.

#### Remove the `mL` and `servings` columns from drinks in place.

#### What if we want to remove rows instead of column?

## Axis parameter

#### `axis=0` goes row by row and collapses the values into the mean

#### `axis=1` goes column by column and collapses into the mean  for each row (It helps me to think of the number 1 looking like an architectural column)

#### `axis` has aliases/nicknames that are a bit more intuitive

## Handling Missing Values

#### Create a dataframe of Booleans indicating which values are missing or not missing.

#### Find the number of missing values by column in `drinks`.

#### Drop rows where ANY values are missing in `drinks` (returning a new DataFrame).

#### Drop rows only where ALL values are missing in `drinks`.

#### Filling in NaN Values. What's up with all of these NaN continents?

All of these continents are in North America (NA), and, when read in, were misinterpreted as a null or NaN value.

#### Fill in the missing values of the `continent` column using string 'NA'.

## Split-Apply-Combine

#### Find the mean beer servings across the entire `drinks` dataset

#### But what if we wanted to look at beer servings by continent? This is where`.groupby()` is useful. This filters by each continent and then calculates the mean.

Use a `.groupby()` whenever you want to analyze a dataset by some category. If you can phrase your question as "For each...", then it is a good candidate for a `.groupby()` For example, "For each continent, what is the mean beer serving?"

#### What happens if we don't specify a column? Let's find the max of all the columns

#### Using the `.agg` function we can specify multiple functions at once for our `.groupby()`

## String methods

#### You can use Python's string methods with pandas by using `.str` beore the name of the string method. Remember that many of these string methods use regular expressions.

# Independent Practice

Now that we have some basics down, let's practice some basic DataFrame use on a new data set.

**Pro tip:** When your cursor is in a string, you can use the "tab" key to browse file system resources and get a relative reference for the files that can be loaded in Jupyter notebook. Remember, you have to use your arrow keys to navigate the files populated in the UI.

1. Find and load the diamonds data set into a DataFrame.
2. Print the first five rows
3. Print the last 10 rows
4. Examine the column names
5. Examine the row numbers (index)
6. Examine the data types of the dataframe's columns
7. Examine the dimensions of the dataframe
8. Examine the summary statistics of the data set.

### Bonus Diamonds Practice
Open `diamonds.csv` (or another of the data files) in Excel and save it with a different delimiter (e.g. as a `.txt` file), delete the header row, and add in some notes at the bottom of the file.  

#### OR

Read in one of your own data files. Make sure the path is correct.

### Using the UFO data ("ufo.csv")

1. Read in the data.
2. Check the shape and describe the columns.
3. Find the four most frequently reported colors.
4. Find the most frequent city for reports in state VA.
5. Find only UFO reports from Arlington, VA.
6. Find the number of missing values in each column.
7. Show only UFO reports where city is missing.
8. Count the number of rows with no null values.
9. Amend column names with spaces to have underscores.
10. Make a new column that is a combination of city and state.


**Bonus:** Drop rows where City or Shape Reported is missing.