# Python Machine Learning In Biology:
# Python Foundations

## Types, Lists, and Dictionaries

In [1]:
# Enter Student names here:
student_names = []
student_names = ['s1','s2','s3','s4','s5','s6','s7','s8','s9','s10']

### What are the types of the following variables?

In [2]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'nichole':'bennett', 'haris':'saslis'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

In [3]:
# a: integer (or int)
# b: float
# c: list
# d: dictionary (or dict)
# e: tuple
# f: dictionary
# g: boolean (or bool)
# h: boolean
# i: string

### What is the difference between a "mutable" and "immutable" object?

In [4]:
#A Mutable objects can be altered, whereas immutable objects cannot be changed once created.

### Print the student_names list.

In [5]:
print(student_names)

['s1', 's2', 's3', 's4', 's5', 's6', 's7', 's8', 's9', 's10']

### Print the names of the first and last students in the list.

In [6]:
print(student_names[0])
print(student_names[-1])

s1
s10

### Print the first five names in the student list.Â¶

In [7]:
print(student_names[0:5])

['s1', 's2', 's3', 's4', 's5']

### Combine the 9th and 10th student names into a single string, separated by a space. Assign that string to a variable.

In [8]:
var = student_names[8] + ' ' + student_names[9]
print(var)

s9 s10

### Append an animal to the list of animals.

In [9]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [10]:
animals.append('badger')
print(animals)

['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle', 'badger']

### Print the length of the animals list.

In [11]:
print(len(animals))

7

### Divide the length of the fifth animal by the second.

In [12]:
print(len(animals[4])/len(animals[1]))

2.3333333333333335

### Remove 'blue' from the list and insert a new color in its place.

In [13]:
colors = ['pink', 'green', 'blue', 'yellow', 'black']

In [14]:
colors.remove('blue')

In [15]:
colors.insert(2, 'aqua')

## Find the index of 'a' in the list.

In [16]:
mix = [['beach', 'mountain'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

In [17]:
mix.index('a')

5

## Remove the last element of mix, and assign it to a variable.

In [18]:
var = mix.pop()
print(var)

(1, 2, 3)

## Create an dictionary.
With the following key:value pairs:

'france':'paris'  
'japan':'tokyo'  
'argentina':'buenos aires'  
'nigeria': 'abuja'

In [29]:
capitals = {'france':'paris', 'japan':'tokyo', 'argentina':'buenos aires','nigeria': 'abuja'}

### Get the capital for 'japan', and assign it to a variable.

In [30]:
japan = 'japan'
japan_capital = capitals[japan]
print(japan_capital)

tokyo

### Get the keys out of the dictionary.

In [31]:
keys = capitals.keys()
print(keys)

dict_keys(['france', 'japan', 'argentina', 'nigeria'])

### Get the key:value pairs out of the dictionary as a list of tuples.

In [32]:
kv_pairs = capitals.items()
print(kv_pairs)

dict_items([('france', 'paris'), ('japan', 'tokyo'), ('argentina', 'buenos aires'), ('nigeria', 'abuja')])

### Add the new country to the dictionary with its capital.

In [33]:
capitals['russia'] = 'moscow'
print(capitals)

{'france': 'paris', 'japan': 'tokyo', 'argentina': 'buenos aires', 'nigeria': 'abuja', 'russia': 'moscow'}

### Combine the following smaller dictionary of capitals with your dictionary

In [34]:
small = {'australia':'canberra', 'egypt':'cairo'}

In [35]:
capitals.update(small)
print(capitals)

{'france': 'paris', 'japan': 'tokyo', 'argentina': 'buenos aires', 'nigeria': 'abuja', 'russia': 'moscow', 'australia': 'canberra', 'egypt': 'cairo'}

### Remove the 'australia' item, and assign it to a variable.

In [36]:
aus = capitals.pop('australia')
print(aus)

canberra

### Check if the 'nigeria' is in the dictionary.

In [37]:
'nigeria' in capitals

True

## Iteration, Control Flow, and Functions

### If, Else Statements

#### Write an if-else statement to check whether the suitcase is over 20kg.

In [38]:
weight = float(input("How many kilograms does your suitcase weigh? "))

How many kilograms does your suitcase weigh? 25

In [39]:
if weight > 20:
    print('Suitcase is over 20kg')
else:
    print('Suitcase is under 20kg')

Suitcase is over 20kg

### Write an if-else statement to check for multiple conditions

Print out these recommendations based on the weather conditions:  

1. The temperature is higher than 15 degrees and it is raining: Bring an umbrella.  
2. The temperature is lower than or equal to 15 degrees and it is raining: Bring an umbrella and a jacket.  
3. The temperature is higher than 15 degrees and the sun is shining: Wear a T-shirt.  
4. The temperature is lower than or equal to 15 degrees and the sun is shining: Bring a jacket.

In [40]:
temperature = float(input('What is the temperature? '))
weather = input('What is the weather? (rain or shine) ')

What is the temperature? 34
What is the weather? (rain or shine) rain

In [41]:
if temperature > 15:
    if weather == 'rain':
        print('bring an umbrella')
    elif weather == 'shine':
        print('wear a t-shirt')
else:
    if weather == 'rain':
        print('bring an umbrella and a jacket')
    else:
        print('bring a jacket')

bring an umbrella

### For Loops

#### Write a for-loop that iterates from the number 1 to the number 15, printing each number

In [42]:
for i in range(1, 16):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

#### Iterate from 1 to 15, printing whether the number is odd or even.

In [43]:
for i in range(1, 16):
    if i % 2 == 0:
        print(i, 'even')
    else:
        print(i, 'odd')

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even
11 odd
12 even
13 odd
14 even
15 odd

#### Iterate through the following list of colors, and print each one in all caps.

In [44]:
colors = ['blue', 'yellow', 'red']

In [45]:
for color in colors:
    print(color.upper())

BLUE
YELLOW
RED

#### Iterate through the colors list. Capitalize the first letter and append the modified colors to a new list.

In [46]:
cap_colors = []
for color in colors:
    cap_color = color[0].upper() + color[1:]
    cap_colors.append(cap_color)
print(cap_colors)

['Blue', 'Yellow', 'Red']

### Functions

#### Write a function to calculate the area of a square

In [47]:
def square_area(width):
    return width*width

print(square_area(10))
print(square_area(42))

100
1764

#### Write a function that takes word as an argument and returns the number of vowels in the word.

In [48]:
def vowel_counter(word):
    vowels = 'aeiou'
    vowel_count = 0
    for char in word:
        if char in vowels:
            vowel_count += 1
    return vowel_count

print(vowel_counter('hello'))

2

## Independent Practice

### Python

### Iterate from 1 to 30 with the following instructions:  
If a number is divisible by 3, print 'fizz'.  
If a number is divisible by 5, print 'buzz'.  
If a number is both divisible by 3 and 5 print 'fizzbuzz'.  
Otherwise, print just the number.

In [1]:
for i in range(1, 31):
    if (i % 3 == 0) and (i % 5 == 0):
        print('fizzbuzz')
    elif (i % 3 == 0):
        print('fizz')
    elif (i % 5 == 0):
        print('buzz')
    else:
        print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

### Iterate through the animals. Print out the animal name and the number of vowels in the name.

In [2]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [3]:
vowels = 'aeiou'
for animal in animals:
    vowel_count = 0
    for character in animal:
        if character in vowels:
            vowel_count += 1
    print(animal, vowel_count)

duck 1
rat 1
boar 2
slug 1
mammoth 2
gazelle 3

### Write a function to calculate the area of a triangle that takes a height and width.

In [4]:
def triangle_area(width, height):
    return 0.5*width*height

print(triangle_area(10, 5))

25.0

### Write a function that takes two integers, passed as strings, and returns the sum, difference, and product as a tuple (all values as integers).

In [5]:
def do_math(number_1, number_2):
    
    int_1 = int(number_1)
    int_2 = int(number_2)
    
    my_sum = int_1 + int_2
    my_diff = int_1 - int_2
    my_prod = int_1 * int_2
    
    return (my_sum, my_diff, my_prod)

In [6]:
do_math('1', '3')

(4, -2, 3)

### Write a function that takes a list as the argument and returns a tuple consisting of two elements:  
A list with the items in reverse order.  
A list of the items in the original list that have an odd index.

In [7]:
def listy(my_list):
    # we can use -1 to reverse index the list
    reverse_list = my_list[::-1]
    
    # start from index 1 and grab everyother index from there(1,3,5 etc.)
    odd_list = my_list[1::2]
    
    return (reverse_list,odd_list)

In [8]:
listy([1,2,3,4,5])

([5, 4, 3, 2, 1], [2, 4])

# Bonus Practice   
(if you get done with the above and want more practice)

[DNA-to-RNA](https://www.codewars.com/kata/dna-to-rna-conversion)  
[Area of an Arrow](https://www.codewars.com/kata/area-of-an-arrow)  
[Dubstep](https://www.codewars.com/kata/dubstep/train/python)  
[Good Vs. Evil](https://www.codewars.com/kata/good-vs-evil/train/python)